/***************************** FILTERS *****************************/
.filters {
  justify-content: space-between;
  // margin-bottom: 55px;
  &__container {
    gap: 64px;
  }
  &__total-recipes {
    align-self: center;
  }
}
.selected-filters {
  // TODO animation
  height: 55px;
  &--activate {
    height: auto;
    padding: 21px 0 43px;
  }
  &__list {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .filters {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    &__container {
      flex-direction: column;
      gap: 25px;
    }
  }
}
