/***************************** FILTERS *****************************/
.filters {
  justify-content: space-between;
  &__container {
    gap: 64px;
  }
  &__total-recipes {
    align-self: center;
  }
}
@media screen and (max-width: 1024px) {
  .filters {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    &__container {
      flex-direction: column;
      gap: 25px;
    }
  }
}
