/***************************** BASE *****************************/
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bg-principal-color;
}
main {
  gap: 55px;
  margin: auto;
  max-width: 1440px;
  padding: 17px 102px 201px;
}

// /**
//  * Basic styles for links
//  */
// a {
//   text-decoration: none;

//   @include on-event {
//     text-decoration: underline;
//   }
// }
