/***************************** IMPORTS *****************************/
// google font Anton + Manrope
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');

//  fonts
$title-font: 'Anton', sans-serif;
$text-font: 'Manrope', sans-serif;

// colors
$black: #1b1b1b;
$yellow: #ffd15b;
$grey: #7a7a7a;
$lightGrey: #c6c6c6;
$text-principal-color: $black;
$text-second-color: $grey;
$bg-principal-color: #ededed;
$bg-second-color: #ffffff;

// number of filters
$filtersCount: 3;
